fastapi[standard]
uvicorn
python-multipart
langgraph
langchain
langchain-ollama
langchain-openai
langchain-community
python-dotenv
chatterbox-tts
soundfile
numpy
torch
torchaudio
faster-whisper
emoji
qdrant-client
